<div class="container">

  <header>
    <div class="row">
      <div class="col">
        <div class="jumbotron mt-2">
          <h1 class="display-4">ngx-equalize</h1>
          <p class="lead">
            This library is inspired from <a href="https://github.com/skrajewski/Equalizer" target="_blank">equalizer</a> jQuery library to keep HTML elements with equal height.<br/>
            The library is compatible with Angular 4+ because of its low peer dependencies.
          </p>
          <div class="row justify-content-center">
            <div class="col-auto">
              <a class="github-button" href="https://github.com/Raphy/ngx-equalizer" data-size="large" data-show-count="true" aria-label="Star Raphy/ngx-equalizer on GitHub" target="_blank">Star</a>
            </div>
            <div class="col-auto">
              <a class="github-button" href="https://github.com/Raphy/ngx-equalizer/fork" data-size="large" aria-label="Fork Raphy/ngx-equalizer on GitHub" target="_blank">Fork</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="row mb-4">
    <div class="col">
      <h2>Basic usage</h2>

      <p>The provided directives will do the job !</p>

      <ngb-tabset equalizer>
        <ngb-tab title="Preview">
          <ng-template ngbTabContent>
            <div class="row equalizer" equalizer>
              <div class="col equalize" equalize>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ornare bibendum magna at consequat. Morbi ultrices, augue eget condimentum commodo, lacus odio sodales odio, non suscipit libero enim nec odio.
              </div>
              <div class="col equalize" equalize>
                Sed lorem elit, bibendum sed varius in, pretium vitae ipsum.<br/>Curabitur vulputate mi risus, vitae pulvinar est egestas quis. Phasellus porta lacus eget velit condimentum, ac iaculis lacus volutpat.
              </div>
              <div class="col equalize" equalize>
                Donec quam felis, vulputate non egestas facilisis, sagittis ac odio. Aliquam tincidunt, enim commodo congue volutpat, libero erat tempus massa, eu vehicula risus eros in metus. Etiam convallis, neque quis pellentesque sodales, metus leo gravida magna, dictum ullamcorper metus lectus eget erat. Vestibulum in leo a urna lacinia dapibus a at lacus.
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="app.module.ts">
          <ng-template ngbTabContent>
            <pre equalize><code>{{ snippets.basic['app.module.ts'] }}</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="app.component.ts">
          <ng-template ngbTabContent>
            <pre equalize><code>{{ snippets.basic['app.component.ts'] }}</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="app.component.html">
          <ng-template ngbTabContent>
            <pre equalize><code>{{ snippets.basic['app.component.html'] }}</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="app.component.scss">
          <ng-template ngbTabContent>
            <pre equalize><code>{{ snippets.basic['app.component.scss'] }}</code></pre>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Using service</h2>

      <p>The service will only equalize once and if the DOM change, you have to equalize again.</p>

      <ngb-tabset equalizer>
        <ngb-tab title="Preview">
          <ng-template ngbTabContent>
            <div class="row equalizer">
              <div #paragraph1 class="col equalize">
                Vivamus at orci sed nibh bibendum ultrices a a odio. Nullam pretium dolor massa, eu pretium enim ornare et. Sed et lorem eu massa iaculis sodales. Nulla gravida sapien ac ex mattis, sed accumsan ex egestas.
              </div>
              <div #paragraph2 class="col equalize">
                Duis nisl dui, dapibus quis volutpat eget, tincidunt quis augue. Maecenas vulputate vitae lorem nec rhoncus. Etiam aliquet, arcu eget tristique eleifend, augue magna pharetra nunc, a volutpat mi enim at velit. Etiam quis suscipit risus, vel gravida eros. Nam consequat vehicula lacus, ac tristique mi lacinia id.
              </div>
              <div #paragraph3 class="col equalize">
                Maecenas mollis hendrerit mi, facilisis consequat enim venenatis ac.
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="app.module.ts">
          <ng-template ngbTabContent>
            <pre equalize><code>{{ snippets.service['app.module.ts'] }}</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="app.component.ts">
          <ng-template ngbTabContent>
            <pre equalize><code>{{ snippets.service['app.component.ts'] }}</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="app.component.html">
          <ng-template ngbTabContent>
            <pre equalize><code>{{ snippets.service['app.component.html'] }}</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="app.component.scss">
          <ng-template ngbTabContent>
            <pre equalize><code>{{ snippets.service['app.component.scss'] }}</code></pre>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

  <footer class="mt-4">
    <p class="text-center">
      Made with ♥ by <a href="https://github.com/Raphy" target="_blank">Raphy</a><br/>
    </p>
  </footer>

</div>

